.body {
    margin: 0px;
    padding: 0px;
}

.fondo {
    background-image: url('../Imagenes/LoginCdis.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.fondoLogin {
    background-image: url('../Imagenes/fondoLogin.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
